<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Main</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">게시판</a>
    </div>
</nav>
<form th:action="@{'/delete/' + ${id}}" method="post">
    <!--스크립트로 라디오버튼 클릭시 hidden값 value로 넣어야 되는데 귀찮다. 어찌됬든 delete 기능은 된다.-->
    <input type="hidden" name="id" id="delete_list" value=""/>
    <div class="jumbotron">
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="text-align: center;">선택</th>
                    <th style="text-align: center;">번호</th>
                    <th style="text-align: center;">게시글 제목</th>
                    <th style="text-align: center;">작성자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${totalCnt} > 0" th:each="list : ${list}">
                    <td>
                        <input type="radio" name="id" th:value="${list.id}">
                    </td>
                    <td th:text="${list.id}">id</td>
                    <td th:text="${list.title}">title</td>
                    <td th:text="${list.name}">name</td>
                </tr>
                <tr th:unless="${totalCnt} > '0'">
                    <td colspan="4">게시물 없음</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container text-right">
        <a href="/create" class="btn btn-success">글쓰기</a>
        <input type="button" class="btn btn-danger" id="delete_button" value="삭제"/>
    </div>
</form>
<footer>
    <p></p>
</footer>
</body>
</html>