<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Main</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">게시판</a>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>게시글 제목</th>
                <th>작성자</th>
                <th>전화번호</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${list.id}">id</td>
                <td th:text="${list.title}">title</td>
                <td th:text="${list.name}">regid</td>
                <td th:text="${list.tel}">tel</td>
            </tr>
            <tr>
                <td colspan=4 align=center>
                    <a href=""></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <form class="navbar-form navbar-right" method="POST" action="">
        <button type="submit" class="btn btn-success">글쓰기</button>
    </form>
</div>
<footer>
    <p></p>
</footer>
</body>
</html>